<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsumerApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <applicationSettings>
        <ConsumerApp.Properties.Settings>
            <setting name="ConsumerApp_FibonacciService_FibonacciController"
                serializeAs="String">
                <value>http://localhost:8089/Controllers/FibonacciController.asmx</value>
            </setting>
            <setting name="ConsumerApp_ConvertService_ConvertController"
                serializeAs="String">
                <value>http://localhost:8089/Controllers/ConvertController.asmx</value>
            </setting>
        </ConsumerApp.Properties.Settings>
    </applicationSettings>
</configuration>
